body {
  background-color: #0A0017;
}
.IE {
  cursor: pointer;
  margin-bottom: 5px;
  height: 40px;
  width: 40px;
  background-image:url( "chrome-extension://__MSG_@@extension_id__/IE_animation.png");
  background-position: left;
  background-repeat:no-repeat;
  background-size:2900%;
}
.star {
  cursor: pointer;
  margin-bottom: 5px;
  height: 40px;
  width: 40px;
  background-image:url( "chrome-extension://__MSG_@@extension_id__/star_animation.png");
  background-position: left;
  background-repeat:no-repeat;
  background-size:2900%;
}
.good {
  cursor: pointer;
  margin-bottom: 5px;
  height: 40px;
  width: 40px;
  background-image:url( "chrome-extension://__MSG_@@extension_id__/good_animation.png");
  background-position: left;
  background-repeat:no-repeat;
  background-size:2900%;
}
.snow {
  cursor: pointer;
  margin-bottom: 5px;
  height: 40px;
  width: 40px;
  background-image:url( "chrome-extension://__MSG_@@extension_id__/snow_animation.png");
  background-position: left;
  background-repeat:no-repeat;
  background-size:2900%;
}
.moon {
  cursor: pointer;
  margin-bottom: 5px;
  height: 40px;
  width: 40px;
  background-image:url( "chrome-extension://__MSG_@@extension_id__/moon_animation.png");
  background-position: left;
  background-repeat:no-repeat;
  background-size:2900%;
}
.heart {
  cursor: pointer;
  height: 40px;
  width: 40px;
  background-image:url( "chrome-extension://__MSG_@@extension_id__/heart_animation.png");
  background-position: left;
  background-repeat:no-repeat;
  background-size:2900%;
}
.on {
  background-position:right;
}
.is_animating {
  animation: icon-burst .8s steps(28) 1;
}
@keyframes icon-burst {
  from {background-position:left;}
  to { background-position:right;}
}
